@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('components/button.css');
@import url('components/card.css');

body {
  font-family: Montserrat, sans-serif;
  background-color: rgb(255, 250, 250);

}
h2 {
  font-size: 35px;
  color: rgba(48, 107, 172, 0.8);
  text-shadow: 1px 1px;
}
.header {
  color: rgba(48, 107, 172, 0.8);
  background-color: rgba(245, 213, 71, 0.8);
  box-shadow: 0 1px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
.header h1 {
  text-shadow: 1px 1px;
}

.container {
  width: 80%;
  height: 450px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: rgba(166, 156, 172, 0.1);
  box-shadow: 1px 2px 2px 1px rgba(240, 240, 240, 0.3), 6px 8px 8px 6px rgba(40, 40, 40, 0.6);
  margin-bottom: 25px;
}

img {
  width: 40%;
  border-radius: 50%;
}



